# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
.Python
*.egg-info/
*.egg
*.whl
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.cache/

# Env / secrets
.env
.env.*

.cursor/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
